.PlayerListed {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 12px 24px;
}

.playerNameNTeam {
    text-align: left;
    margin-left: 1rem;
}

.team {
    color: gray;
    font-size: smaller;
}

.playerPlaceNPoints {
    text-align: end;
    font-weight: bold;
    width: 100%;
}

.points {
    color: aqua;
    font-size: smaller;
}

.playerImg {
    width: 72px;
    height: 72px;
}