.form-auth {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.input-auth {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    border: none;
    color: #C2DD8D;
    outline: none;
    border: 1px solid #C2DD8D;
}

.input-auth:focus {
    /* outline: 3px solid #247855; */
}

.input-auth-invalid {
    border-color: #ff3838 !important;
}

.hidden-password-btn-input-login {
    position: absolute;
    right: 16px;
}

.container-password-input {
    display: flex;
    align-items: center;
    position: relative;
}