.form-auth {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem;
  }

.input-auth {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #eee;
    border: none;
    padding: .67rem 1.22rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #a1a1a1;
    border: 5px solid transparent;
}

.input-auth:focus {
    border-color: #a1a1a1!important;
}

.input-auth-invalid {
    border-color: #B81212 !important;
}

.input-auth-invalid::placeholder {
    color: #B81212 !important;
}

.hidden-password-btn-input-login {
    position: absolute;
    right: 16px;
}

.container-password-input {
    display: flex;
    align-items: center;
    position: relative;
}