.form-auth {
  width: 512px;
  display: flex;
  justify-content: center;
  flex-direction: column ;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
}

.input-auth {
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #eee;
  border: none;
  padding: .67rem 1.22rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: black;
  /* box-shadow: 0 0.4rem #a1a1a1; */
  border: 5px solid transparent;
}

.input-auth:focus {
  border: 5px solid #247855;
}