.title {
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 31.5px;
    font-size: 31px;
    text-align: center;
}

.container {
    display: flex;
    align-content: space-between;
    width: 100%;
    min-height: 10vh;
    background: #202020;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 21px;
    line-height: 31.5px;

}


.PlayerName {
    display: block;
    padding-left: 60px;

}

.stats {
    width: 10%;
    position: relative;
    top: 30px;
    right: 70px;
    display: flex;
    justify-content: space-between;
}



.defender {
    color: #58C6CD;
}

.points {
    color: #58C6CD;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-width: max-content;
    margin: auto;
    box-shadow: -1px 5px 15px 2px rgb(41, 229, 85, .1);

}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}