.navbar-selected-icon {
    color: #C2DD8D;
    box-shadow: 0 0 16px 2px #C2DD8D99;
}

.icon-navbar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    user-select: none;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    outline: none;
    width: 100%;
    height: 100%;
    outline: 1px solid #C2DD8D;
    transition: all .4s ease;
}

.icon-navbar:hover {
    color: #C2DD8D;
    box-shadow: 0 0 16px 2px #C2DD8D99;
}

.line-xs {
    line-height: .55rem;
}