.btn-auth {
    width: 100%;
    padding: 8px 16px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, .3);
    border: none;
    outline: none;
    border-radius: 1rem;
    transition: background-color .3s ease-in-out;
    border: 3px solid transparent;
}

.log {
    color: black;
    background-color: #C2DD8D;
}

.reg {
    color: white;
    background-color: #247855;
}

.can {
    background-color: #B81212;
}

.log:hover {
    background-color: #bfe86e;
}

.reg:hover {
    background-color: #13bf77;
}

.can:hover {
    background-color: #ff0000;
}

.log:focus {
    border-color: #58C6CD;
}

.reg:focus {
    border-color: #58C6CD;
}

.can:focus {
    border-color: #58C6CD;
}